[package]
name = "swap"
version = "3.5.0"
authors = ["The COMIT guys <hello@comit.network>"]
edition = "2021"
description = "XMR/BTC trustless atomic swaps."

[lib]
name = "swap"

[features]
tauri = ["dep:tauri", "dep:dfx-swiss-sdk"]

[dependencies]
# Bitcoin Dev Kit
bdk = { workspace = true }
bdk_chain = { workspace = true }
bdk_core = { workspace = true }
bdk_electrum = { workspace = true, features = ["use-rustls-ring"] }
bdk_wallet = { workspace = true, features = ["rusqlite", "test-utils"] }
bitcoin = { workspace = true }

# Bitcoin Wallet
bitcoin-wallet = { path = "../bitcoin-wallet" }

# Tor
arti-client = { workspace = true, features = ["static-sqlite", "tokio", "rustls", "onion-service-service"] }
tor-rtcompat = { workspace = true, features = ["tokio"] }

# LibP2P
libp2p = { workspace = true, features = ["tcp", "yamux", "dns", "noise", "request-response", "ping", "rendezvous", "identify", "macros", "cbor", "json", "tokio", "serde", "rsa"] }
libp2p-tor = { path = "../libp2p-tor", features = ["listen-onion-service"] }

# Error handling
anyhow = { workspace = true }
backoff = { workspace = true }
thiserror = { workspace = true }

# Crypto / Decoding / Encoding
base64 = "0.22"
big-bytes = "1"
curve25519-dalek = { workspace = true }
data-encoding = "2.6"
ecdsa_fun = { workspace = true, features = ["libsecp_compat", "serde", "adaptor"] }
ed25519-dalek = "1"
hex = { workspace = true }
rustls = { version = "0.23", default-features = false, features = ["ring"] }
sha2 = { workspace = true }
sigma_fun = { workspace = true, default-features = false, features = ["ed25519", "serde", "secp256k1", "alloc"] }

# Randomness
rand = { workspace = true }
rand_chacha = { workspace = true }

# CLI
atty = "0.2"
comfy-table = "7.1"
dialoguer = "0.11"

# Other stuff
bmrng = { workspace = true }
config = { version = "0.14", default-features = false, features = ["toml"] }
conquer-once = "0.4"
derive_builder = "0.20.2"
dfx-swiss-sdk = { workspace = true, optional = true }
electrum-pool = { path = "../electrum-pool" }
jsonrpsee = { workspace = true, features = ["server"] }
moka = { version = "0.12", features = ["sync", "future"] }
monero = { workspace = true }
monero-rpc = { path = "../monero-rpc" }
monero-rpc-pool = { path = "../monero-rpc-pool" }
monero-seed = { git = "https://github.com/monero-oxide/monero-wallet-util.git", package = "monero-seed" }
monero-sys = { path = "../monero-sys" }
once_cell = { workspace = true }
pem = "3.0"
proptest = "1"
regex = "1.10"
reqwest = { workspace = true, features = ["http2", "rustls-tls-native-roots", "stream", "socks"] }
rust_decimal = { version = "1", features = ["serde-float"] }
rust_decimal_macros = "1"
semver = { workspace = true }
structopt = "0.3"
swap-controller-api = { path = "../swap-controller-api" }
swap-core = { path = "../swap-core" }
swap-db = { path = "../swap-db" }
swap-env = { path = "../swap-env" }
swap-feed = { path = "../swap-feed" }
swap-fs = { path = "../swap-fs" }
swap-machine = { path = "../swap-machine" }
swap-p2p = { path = "../swap-p2p" }
swap-proptest = { path = "../swap-proptest" }
swap-serde = { path = "../swap-serde" }
tauri = { version = "2.0", features = ["config-json5"], optional = true, default-features = false }
throttle = { path = "../throttle" }
time = "0.3"
url = { workspace = true }
uuid = { workspace = true, features = ["serde"] }
void = "1"
zeroize = "1.8.1"

# Tokio
tokio = { workspace = true, features = ["process", "fs", "net", "parking_lot", "rt"] }
tokio-tungstenite = { version = "0.15", features = ["rustls-tls"] }
tokio-util = { workspace = true }

# Async
async-compression = { version = "0.3", features = ["bzip2", "tokio"] }
async-trait = { workspace = true }
futures = { workspace = true }

tower = { version = "0.4.13", features = ["full"] }
tower-http = { version = "0.3.4", features = ["full"] }

# Tracing
tracing = { workspace = true }
tracing-appender = "0.2"
tracing-subscriber = { workspace = true }

# Serialization
serde = { workspace = true }
serde_cbor = "0.11"
serde_json = { workspace = true }
serde_with = { version = "1", features = ["macros"] }
strum = { workspace = true, features = ["derive"] }
typeshare = { workspace = true }

# monero-oxide
monero-oxide-rpc = { git = "https://github.com/monero-oxide/monero-oxide.git", package = "monero-rpc" }
monero-simple-request-rpc = { git = "https://github.com/monero-oxide/monero-oxide.git" }

# Database
sqlx = { version = "0.8", features = ["sqlite", "runtime-tokio-rustls"] }

[target.'cfg(not(windows))'.dependencies]
tokio-tar = "0.3"

[target.'cfg(windows)'.dependencies]
zip = "0.5"

[dev-dependencies]
bitcoin-harness = { git = "https://github.com/eigenwallet/bitcoin-harness-rs", branch = "master" }
get-port = "3"
mockito = "1.4"
monero-harness = { path = "../monero-harness" }
proptest = "1"
serde_cbor = "0.11"
serial_test = "3.1"
swap-p2p = { path = "../swap-p2p", features = ["test-support"] }
tempfile = "3"
testcontainers = "0.15"

[build-dependencies]
anyhow = { workspace = true }
vergen-git2 = { workspace = true }
